.pagination-link.is-current {
  background-color: #00D1B2;
}

a {
  color: #ccc;
}

caption {
  display: none;
}

.table td{
  min-width: 100px;
}

#search-field:focus{
border: 1px solid #00D1B2;
border-radius: 4px;
box-sizing: border-box;
}